# Nuxt
.nuxt
.output
dist

# Dependencies
node_modules

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
client_secret_*.json

# Docker
docker-compose.override.yml

# etc
.agents/
prd.md
.antigravitycli/
.npmrc

# Playwright
test-results/
playwright-report/

# Database Backups & Dumps
backups/
*.dump
backups/*.sql
backups/*.sql.gz
