# Nuxt
.nuxt
.output
dist

# Dependencies
node_modules

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
client_secret_*.json

# Drizzle
server/db/migrations/meta/

# Docker
docker-compose.override.yml
